<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>AI作図ツール</title>
</head>
<body class="p-3">
    <header>
        <h1 class="has-background-primary p-3 mb-3">AI作図ツール</h1>
    </header>
    <main>
        <!-- コンテンツブロックを定義 -->
        {% block contents %}
        <!-- ここにコンテンツを表示 -->
        {% endblock %}
    </main>
</body>
</html>
